/reports/upstream/master/hibernate-orm/site/index.html
/reports/upstream/master/hibernate-orm/site/checkstyle.html
/reports/upstream/master/spring-framework/site/index.html
/reports/upstream/master/spring-framework/site/checkstyle.html
/reports/upstream/master/Hbase/checkstyle-result.xml
/reports/upstream/master/Hbase/site/index.html
/reports/upstream/master/Hbase/site/checkstyle.html
/reports/upstream/master/guava/site/index.html
/reports/upstream/master/guava/site/checkstyle.html
/reports/if_with_no_curly/hibernate-orm/site/index.html
/reports/if_with_no_curly/hibernate-orm/site/checkstyle.html
/reports/if_with_no_curly/spring-framework/site/index.html
/reports/if_with_no_curly/spring-framework/site/checkstyle.html
/reports/if_with_no_curly/Hbase/checkstyle-result.xml
/reports/if_with_no_curly/Hbase/site/index.html
/reports/if_with_no_curly/Hbase/site/checkstyle.html
/reports/if_with_no_curly/guava/site/index.html
/reports/if_with_no_curly/guava/site/checkstyle.html
/reports2/upstream/master/hibernate-orm/site/index.html
/reports2/upstream/master/hibernate-orm/site/checkstyle.html
/reports2/upstream/master/hibernate-orm-with-excludes/site/index.html
/reports2/upstream/master/hibernate-orm-with-excludes/site/checkstyle.html
/reports2/upstream/master/Hbase/checkstyle-result.xml
/reports2/upstream/master/Hbase/site/index.html
/reports2/upstream/master/Hbase/site/checkstyle.html
/reports2/upstream/master/guava/site/index.html
/reports2/upstream/master/guava/site/checkstyle.html
/reports2/temp_lambda/hibernate-orm/site/index.html
/reports2/temp_lambda/hibernate-orm/site/checkstyle.html
/reports2/temp_lambda/hibernate-orm-with-excludes/site/index.html
/reports2/temp_lambda/hibernate-orm-with-excludes/site/checkstyle.html
/reports2/temp_lambda/Hbase/checkstyle-result.xml
/reports2/temp_lambda/Hbase/site/index.html
/reports2/temp_lambda/Hbase/site/checkstyle.html
/reports2/temp_lambda/guava/site/index.html
/reports2/temp_lambda/guava/site/checkstyle.html


